[core]
    excludesfile = ~/.gitignore_global
    attributesfile = ~/.gitattributes
    editor = vim
	pager = LESSCHARSET=utf-8 less
[alias]
	cl = clone
	ad = add
	fe = fetch
	ci = commit -a -m
	st = status
	di = diff
	br = branch
	ch = checkout
	pl = pull --no-ff
	ps = push
	st = stash
	me = merge
[diff]
    patience = true
[color]
    ui = auto
    status = auto
    diff = auto
    branch = auto
    interactive = auto
    grep = auto
[user]
	useConfigOnly = true
